/*Tipografías*/
/*fuente local*/
@font-face {
  font-family: 'fuente-principal';
  src: url('../assets/fuentes/Poppins-Regular.ttf');
}
/*fuente externa*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*selector de tipo reset o universal*/
*{
  margin: 0;
  padding: 0;
}
/*Selector de tipo ID*/
#barra-navegacion{
  /*Porpiedad*/
  background-color: #379752dc;
  color: #000;
}

/*selector de tipo clase*/
.estilo-links{
  font-size: 20px;
  font-weight: bold;
  color: #c95b24dc;
  list-style-type: none;
}

/*selector de etiqueta*/
img{
  width: 50%;
}

/*tipografías*/
/*local*/
.font-main{
  font-family: 'fuente-principal', sans-serif;
}

/*externa*/
.encabezado-home{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #212F3D;
}

/*Boxmodeling*/
/* .bloque{
  border: 1px solid #000;
} */

.elemento-bloque{
  display: inline;
  border: 5px solid #3e4b78dc;
  width: 50%;
  height: 250px;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 30px;
}

.elemento-linea{
  display: inline-block;
  border: 5px solid #3d2c21;
  /* width: 500px;
  height: 500px; */
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


