/*Tipografías*/
/*fuente local*/
@font-face {
  font-family: 'fuente-principal';
  src: url('../assets/fuentes/Poppins-Regular.ttf');
}
/*fuente externa*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*selector de tipo reset o universal*/
*{
  margin: 0;
  padding: 0;
}
/*Selector de tipo ID*/
#barra-navegacion{
  /*Porpiedad*/
  background-color: #379752dc;
  color: #000;
}

.hola{
  font-style: italic;
}

/*selector de tipo clase*/
.estilo-links{
  font-size: 20px;
  font-weight: bold;
  color: #c95b24dc;
  list-style-type: none;
}

/*selector de etiqueta*/
img{
  width: 50%;
}

/*tipografías*/
/*local*/
.font-main{
  font-family: 'fuente-principal', sans-serif;
}

/*externa*/
.encabezado-home{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #212F3D;
}

/*Boxmodeling*/
/* .bloque{
  border: 1px solid #000;
} */

.elemento-bloque{
  display: inline;
  border: 5px solid #3e4b78dc;
  width: 50%;
  height: 250px;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 30px;
}

.elemento-linea{
  display: inline-block;
  border: 5px solid #3d2c21;
  /* width: 500px;
  height: 500px; */
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

/*Flexbox teoría*/
/*contenedor padre*/
.flex-container{
  /*Activamos flex*/
  display: flex;
  /*definimos cual va  ser nuestro Main axis y cual, o si será fila o columna*/
  flex-direction: row;
  /*dispone los elementos flexibles en el eje principal*/
  justify-content: flex-start;
  /*dispone los elementos flexibles en el eje secundario*/
  /* align-items: center; */
  /*defino el desborde de los flex items*/
  flex-wrap: wrap;
  /* align-content: space-evenly; */

  /*Boxmodeling*/
  border: 5px solid #000;
  background-color: #ccc;
  padding: 20px;
  margin: 20px;
  height: 800px;
}

.caja{
  /*box modeling*/
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #7f4516;
  margin: 5px;

  /*tipografia*/
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

/*propiedades de los flex items*/

.c1{
  background-color: #12d372b2;
  /*defino el órden de aparición*/
  order: 2;
  /*derecho a crecer*/
  flex-grow: 5;

}

.c2{
  background-color: #371972d0;
  order: 3;
  flex-grow: 1;
}

.c3{
  background-color: #b8511dd0;
  order: 1;
  flex-grow: 1;
}




